@using System.Globalization;
@model Order
@{

    ViewData["Title"] = "Details";

}

<div style="font-variant:small-caps; font-weight: 400;">

    <h1>Детайли</h1>

    <div>

        <h4>Поръчка</h4>

        <hr />

        <dl class="row">

            <dt class="col-sm-2">

                @Html.DisplayNameFor(model => model.Address.City)

            </dt>

            <dd class="col-sm-10">

                @Html.DisplayFor(model => model.Address.City)

            </dd>

            <dt class="col-sm-2">

                @Html.DisplayNameFor(model => model.Address.Street)

            </dt>

            <dd class="col-sm-10">

                @Html.DisplayFor(model => model.Address.Street)

            </dd>
            <dt class="col-sm-2">

                @Html.DisplayNameFor(model => model.Address.Country)

            </dt>

            <dd class="col-sm-10">

                @Html.DisplayFor(model => model.Address.Country)

            </dd>
            <dt class="col-sm-2">

                @Html.DisplayNameFor(model => model.TotalPrice)
             
            </dt>

            <dd class="col-sm-10">

                Общо: @String.Format(new CultureInfo("bg-BG"), "{0:C}", Model.TotalPrice)

            </dd>

            <dt class="col-sm-2">
                Очаквана дата за доставка: 
            </dt>

            <dd class="col-sm-10">

                @Html.DisplayFor(model => model.ExceptedDeliveryDate)

            </dd>   
        </dl>
    </div>
</div>

 <div>

        @foreach (var item in ((Dictionary<Product, int>)ViewData["Products"]).Keys)
        {
            <div class="card mb-3" style="max-width: 400px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/images/@item.Picture" class="img-fluid rounded-start" alt="@item.ProductName">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.ProductName</h5>
                            <p class="card-text">
                                <strong>Цена:</strong> @String.Format(new CultureInfo("bg-BG"), "{0:C}", item.Price)
                            </p>
                            <p class="card-text">
                                <strong>Количество:</strong> @(((Dictionary<Product, int>)ViewData["Products"])[item])
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }

  </div>
