@using System.Globalization
@model Dictionary<Product, int>

@{
    ViewData["Title"] = "Cart";
    double totalCost = Model.Sum(item => item.Key.Price * item.Value);
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            @foreach (var item in Model.Keys)
            {
                <div class="card mb-3" style="max-width: 400px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/images/@item.Picture" class="img-fluid rounded-start" alt="@item.ProductName">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div style="display: flex; justify-content: flex-end">
                                    <a asp-action="Delete" asp-route-productId="@item.Id"><i class="bi bi-x-lg"></i></a>
                                </div>
                                <h5 class="card-title">@item.ProductName</h5>
                                <p class="card-text">
                                    <strong>Цена:</strong> @String.Format(new CultureInfo("bg-BG"), "{0:C}", item.Price)
                                </p>
                                <p class="card-text">
                                    <strong>Количество:</strong> @Model[item]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Крайна цена</h5>
                    <p class="card-text">
                        Общо: @String.Format(new CultureInfo("bg-BG"), "{0:C}", totalCost)
                    </p>
                </div>
            </div>
            <div class="mt-4">
                <a class="btn btn-dark" asp-controller="Products" asp-action="Index">Обратно към магазина</a>
            </div>
        </div>
    </div>
</div>




