@using System.Globalization
@model Ciel.Models.Product

@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.ProductName
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="form-group text-center">
                    <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 150px" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/@Model.Picture" width="100%" alt="@Model.ProductName">
                </div>
                <div class="col-md-8">
                    <div class="card-body">

						<p class="card-text">@Model.Description</p>
                        <p class="card-text">@Model.Catalog.CatalogName</p>
						<p>@String.Format(new CultureInfo("bg-BG"), "{0:C}", Model.Price)</p>
                        <a class="btn btn btn-info float-left" asp-controller="Carts" asp-action="Create" asp-route-productId="@Model.Id">
                                Добави в кошницата
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Обратно към страницата
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>